streamlit==1.32.2
torch 
torchvision 
torchaudio
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
torch-geometric
matplotlib
h5py
tqdm
numpy
time
random
pyperclip
scipy
pandas